<!DOCTYPE html>
<html>
<body>
{% for post in posts %}
    <div align="center">
        <h1>
            <span>
                {{ post.title }}
            </span>
        </h1>
        <h3>
            <span style="float:right;">
                Post ID: {{ post.id }}
            </span>
        </h3>
    </div>
    <p>
        {{ post.text }}
    </p>
    <div align="center">
        <p>
            Last time updated at {{ post.creation_time.strftime('%Y-%m-%d %X') }} by {{ post.author.username }}.
        </p>
    </div>
    <div align="right">
        <p>
            Contact address: {{ post.author.email }}
        </p>
    </div>
{% endfor %}
</body>
</html>
